<a href="https://colab.research.google.com/github/RamaSiritha/RamaSiritha_INFO5731_Spring2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
# For calculating the length of a string
ls = 'Hello.This is for the length of the string'
print(len(ls))

# Using the inbuilt function for taking input from user
ls1 = input('Enter a string: ')
print(len(ls1))

42
Enter a string: mds,fmc,
8

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [39]:
#taking input from the user
a=input('Enter a string: ')
def countchar(a):
  nc={} #initializing a dictonary
  for n in a:
     x=nc.keys()
     if n in x:
       nc[n]+=1
     else:
       nc[n]=1
  return nc
print(countchar(a))

Enter a string: amazing
{'a': 2, 'm': 1, 'z': 1, 'i': 1, 'n': 1, 'g': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [40]:
# creating a list and calculating sum
sumlist = [1,2,3,4,5]
print(sum(sumlist)) #using sum function calculate sum of values

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [58]:
# write your answer here
a = input('Enter a string:')
def replacechar(a):
  s = a[0]             #taking the first char which is to be changed
  a = a.replace(s,'$') # Using replace function to replace with $
  return s+a[1:]
replacedstrin = replacechar(a)
print(replacedstrin)

Enter a string:streets
street$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [92]:
# write your answer here
a=int(input('Enter a number:'))
b=int(input('Enter another number:'))
pi=3.14
S = pi*(1+(a/b))**3
print(S)

Enter a number:4
Enter another number:5
18.312480000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [106]:
# write your answer here
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}
resdic={}
for n in (dict1,dict2,dict3): resdic.update(n)
print(resdic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [111]:
# write your answer here
tup=(1,2,3,8,6,'e','d')
print("e" in tup)

True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [90]:
# write your answer here

x=set(input('enter values for a set:'))
print(min(x))
print(max(x))

enter values for a set:15364384531
1
8

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [150]:
# write your answer here
import random
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091',
                'sk0083','mk0852','sr0123','kr1176','nr0215','gh0864']
for i in range(5):
  divlist=random.choices(student_list,k=4)
  student_list=[i for i in student_list if i not in divlist]
  print("group:", divlist)

group: ['rak0120', 'nm0547', 'nr0215', 'at0739']
group: ['msp0174', 'sk0083', 'ss1995', 'yye0005']
group: ['sg0940', 'sg0940', 'spk0057', 'mk0852']
group: ['tv0119', 'dd0420', 'dy0091', 'bk0301']
group: ['sr0123', 'mv0299', 'snd0097', 'ds0761']