<a href="https://colab.research.google.com/github/RamaSiritha/RamaSiritha_INFO5731_Spring2021/blob/main/INFO5731_Assignment_One_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random
x=[random.randint(1,100)]
y=[random.randint(1,100) for count in range(12)]
print('random number list:',y)
y.sort()
print('sorted list in ascending:',y)
y.sort(reverse=True)
print('sorted list in descending:',y)
a=sum(x)
b=len(x)
avg=a/b
print('Average:',avg)

random number list: [97, 43, 74, 4, 34, 69, 29, 44, 20, 78, 40, 97]
sorted list in ascending: [4, 20, 29, 34, 40, 43, 44, 69, 74, 78, 97, 97]
sorted list in descending: [97, 97, 78, 74, 69, 44, 43, 40, 34, 29, 20, 4]
Average: 17.0

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here
import re
sen1=input('Enter sentence 1:')
sen2=input('Enter sentence2:')
list1=re.findall(r"[A-Za-z@#]+|\S",sen1)
list2=re.findall(r"[A-Za-z@#]+|\S",sen2)
print(list1,list2)
v='aeiou'
#common words list
list3=list(set(list1)&set(list2))
print('List of words that occur in both sentences',list3)
#removing special characters
sp1=re.sub('[!#@,.:";]','',sen1)
print('sentence without punctuation',sp1)
sp2=re.sub('[!#@,.:";]','',sen2)
print('sentence without punctuation',sp2)
#to count vowels
s=(sen1+''+sen2)
s=s.casefold()
count={}.fromkeys(v,0)
for char in s:
  if char in count:
    count[char]+=1
print("count of vowels in sentences:",count)

Enter sentence 1:Hi, this is siritha.
Enter sentence2:Hello, This is my name.
['Hi', ',', 'this', 'is', 'siritha', '.'] ['Hello', ',', 'This', 'is', 'my', 'name', '.']
List of words that occur in both sentences ['is', '.', ',']
sentence without punctuation Hi this is siritha
sentence without punctuation Hello This is my name
count of vowels in sentences: {'a': 2, 'e': 2, 'i': 7, 'o': 1, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
import math
from prettytable import PrettyTable
a=PrettyTable()
a.field_names=["r","V"]
Pi=3.14
for b in range(1,11):
  c=(4/3)*Pi*b*b*b
  a.add_row([b,c])
print(a)

+----+--------------------+
| r  |         V          |
+----+--------------------+
| 1  | 4.1866666666666665 |
| 2  | 33.49333333333333  |
| 3  | 113.03999999999998 |
| 4  | 267.94666666666666 |
| 5  | 523.3333333333334  |
| 6  | 904.3199999999998  |
| 7  | 1436.0266666666666 |
| 8  | 2143.5733333333333 |
| 9  |      3052.08       |
| 10 | 4186.666666666667  |
+----+--------------------+

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# Your code here
from google.colab import files
up=files.upload()

Saving Assignment1_denton_housing.csv to Assignment1_denton_housing.csv

In [61]:
import io
import pandas as pd
a = pd.read_csv(io.BytesIO(up['Assignment1_denton_housing.csv']))

import csv
import pandas as pd
b=''
y=2008
t=0
diff=[]
with open('Assignment1_denton_housing.csv') as csvFile:
    csvReader = csv.reader(csvFile)
    for r in csvReader:
      b=r[1]
      if b == 'Occupied Housing Units':
          if(t != 0):
            diff.append(t-int(r[2]))
          y=y+1
          t=int(r[2])
    diff.sort()
    print("No.of occupied housing units in all consecutive years:",diff)

No.of occupied housing units in all consecutive years: [-795, -303, 1404, 1565, 2622, 5091]

In [63]:
import csv
import pandas as pd
import csv
import operator

ctotal = 0
cyear = ''
total_year_value = {}
temp_vacant = 0
with open('Assignment1_denton_housing.csv') as csvFile:
    csvReader = csv.reader(csvFile)
    print("year|"+"Housing Units Vacant|"+" "+"Housing Units Occupied\n")
    for r in csvReader:
      if(r[0]!='year'):
        if(r[1]=='Total Housing Units'):
         ctotal = int(r[2])
         cyear = r[0]
        if(r[1]=='Vacant Housing Units'):
         temp_vacant = (int(r[2])/ctotal)*100
         total_year_value.update({cyear:temp_vacant})
    for key in sorted(total_year_value.keys()):
      print("%s %s %s %s %s" % (key, total_year_value[key],'|',100-total_year_value[key],'|'))

year|Housing Units Vacant| Housing Units Occupied

2008 10.88265281351653 | 89.11734718648347 |
2009 9.07111572444872 | 90.92888427555128 |
2010 8.142556337081672 | 91.85744366291833 |
2011 9.379522229890688 | 90.62047777010932 |
2012 6.677600230491346 | 93.32239976950865 |
2013 8.801787504176412 | 91.19821249582358 |
2014 5.730110570363885 | 94.26988942963611 |

In [64]:
import csv
import operator
import pandas as pd
ctotal = 0
temp_year = []
total_value = []
vacant_value = []
occupied_value = []
vacant_year = {}
occupied_year = {}

import csv
with open('Assignment1_denton_housing.csv') as csvFile:
    csvReader = csv.reader(csvFile)
    print("\t\t\tyear\t","value")
    for r in csvReader:
      if(r[0]!='year'):
        if(r[1]=='Vacant Housing Units'):
         vacant_year.update({r[0]:int(r[2])})
        if(r[1]=='Occupied Housing Units'):
         occupied_year.update({r[0]:int(r[2])})
    max_vac_year = max(vacant_year.items(), key=operator.itemgetter(1))
    max_occ_year = max(occupied_year.items(), key=operator.itemgetter(1))
    print("Housing Units Vacant\t",max_vac_year)
    print("Housing Units Occupied \t", max_occ_year)

			year	 value
Housing Units Vacant	 ('2008', 4483)
Housing Units Occupied 	 ('2014', 46295)

In [65]:
import csv
import pandas as pd
import csv
import statistics

t = []

with open('Assignment1_denton_housing.csv') as csvFile:
    csvReader = csv.reader(csvFile)
    for r in csvReader:
      if(r[0]!='year'):
        if(r[1]=='Total Housing Units'):
         t.append(int(r[2]))
    print("Harmonic mean of the Total Housing Units:",statistics.harmonic_mean(t))

Harmonic mean of the Total Housing Units: 44398.28543969185